{% extends 'base.html.twig' %}

{% block title %}{{ county.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h2>Les derniers objets trouvés en {{ county.name }}</h2>
        <section class="row">
            {% for item in items %}
                {% if item.status.label == constant('App\\Entity\\Status::FOUND') %}
                    {% include 'item/card.html.twig' with {'item' : item} only %}
                {% endif %}
            {% endfor %}

        </section>
        <h2>Les derniers objets perdus en {{ county.name }}</h2>
        <section class="row">
            {% for item in items %}
                {% if item.status.label == constant('App\\Entity\\Status::LOST') %}
                    {% include 'item/card.html.twig' with {'item' : item} only %}
                {% endif %}
            {% endfor %}
        </section>
    </div>
{% endblock %}
