{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ category.label }}{% endblock %}

{% block body %}
    <div class="container">
    <h1>{{ category.label }}</h1>
        <section class="row">
            {% for item in items %}
                {% include 'item/card.html.twig' with {'item' : item} only %}
            {% endfor %}
        </section>

    </div>
{% endblock %}
