{% extends 'base.html.twig' %}

{% block title %}New Pm{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ecrire un message privé</h1>

        {{ include('pm/_form.html.twig') }}
    </div>


{% endblock %}
