{% extends 'base.html.twig' %}

{% block title %}Editer un objet{% endblock %}

{% block body %}
    <div class="container">
        <h1>Editer un objet</h1>
        {{ include('item/_form.html.twig') }}

        {{ include('item/_delete_form.html.twig') }}
    </div>

{% endblock %}
